@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@RenderActivePortalDisplay(Model)

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var lp1 = 0;
    var categoryDataList = new CategoryLimpetList(PortalUtils.GetCurrentPortalId(), DNNrocketUtils.GetEditCulture(), false);
}

<style>
    .w3-ul-alt {
        list-style-type: none;
        padding: 0;
        margin: 0
    }

        .w3-ul-alt li {
            padding: 4px 8px;
            border-bottom: none;
        }
</style>


<div class="w3-container">
    <div class="w3-button rocket-buttonbar w3-teal w3-padding-8" onclick="$('#categoryselect').show();"><i class='fas fa-plus-circle'></i></div>
    <div class="w3-button rocket-buttonbar w3-pale-yellow w3-padding-8 simplisity_itemundo" s-recylebin="categorylistbin" s-return="#categorylistdata" s-removelist=".categorylist" style="display: none;"><i class="fas fa-undo fa-fw fa-lg"></i></div>
</div>

<div id="datasection" class="">

    <div id="datalist" class="w3-row w3-margin-top ">
        @{
            lp1 = 0;
            var catList = articleData.GetCategories();
        }

        <ul id="categorylistdata" class="w3-ul-alt " style="border-bottom: none;">

            @foreach (var categoryData in catList)
            {
                lp1 += 1;
                 var breadcrumbList = categoryDataList.GetBreadCrumbList(categoryData.CategoryId);

                <li class="w3-row " cid="@(categoryData.CategoryId)" level="@(categoryData.Level)">
                    <input value="@categoryData.CategoryId" id="categoryid_@(lp1)" s-xpath="genxml/categoryid" s-update="save" type="hidden">
                    <div class="w3-rest w3-card" style="">
                        <div class="w3-bar w3-card " style="">
                            <div class="w3-bar-item">
                                @if (categoryData.LogoRelPath != "")
                                {
                                    <img src="@ThumbnailImageUrl(categoryData.LogoRelPath, 34, 34)" style="height:34px;width:34px;" class="w3-circle" />
                                }
                                else
                                {
                                    <img src="@ThumbnailImageUrl("/DesktopModules/DNNrocket/api/images/noimage2.png", 34, 34)" style="height:34px;width:34px;" class="w3-circle" />
                                }
                            </div>
                            @{
                                var breadcrumbdisplay = "";
                                foreach (var c in breadcrumbList)
                                {
                                    breadcrumbdisplay += " > " + c.Name;
                                }
                            }
                            <div class="w3-bar-item" title="@(breadcrumbdisplay)">
                                @categoryData.Name
                            </div>
                            <div class="w3-bar-item w3-button w3-right simplisity_click " s-cmd="articleadmin_removecategory"  s-return=".articlepopup" s-post="#articledatasection" s-fields='{"articleid":"@(articleData.ArticleId)","categoryid":"@(categoryData.CategoryId)"}'>
                                <i title="Remove" class="fas fa-minus-square fa-fw fa-lg"></i>
                            </div>
                        </div>
                </div>

            </li>
            }
        </ul>


    </div>

</div>


<script>
    $(document).ready(function () {
        $(':checkbox').attr('class', 'w3-check');
        $("#categorylistdata").disableSelection();
    });

    function languageChange() {
        location.reload();
    }

</script>
