@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")

@RenderActivePortalDisplay(Model)

@{
    var articleData = (ArticleLimpet)Model.List.First();
    var categoryDataList = new CategoryLimpetList(articleData.PortalId, articleData.CultureCode);
    var treelist = categoryDataList.GetCategoryTree();
    var passModel = new SimplisityRazor(categoryDataList, Model.Settings);    
}

<style>
    .w3-ul-alt {
        list-style-type: none;
        padding: 0;
        margin: 0
    }

        .w3-ul-alt li {
            padding: 4px 8px;
            border-bottom: none;
        }
</style>


<div id="categoryselect" class="w3-modal">
    <div class="w3-modal-content" style="width:50%;">

        <header class="w3-theme-d5 w3-center" style="height: 38.5px;">
            <span onclick="$('#categoryselect').hide();" class="w3-button w3-display-topright">&times;</span>
            <h4>@ResourceKey("RC.categories")</h4>
        </header>

        <div class="w3-row w3-padding">
            <input class="w3-col m12 w3-input w3-border w3-light-grey w3-padding" autocomplete="off" type="text" placeholder="@ResourceKey("DNNrocket.search")..." id="searchtextcategory" onkeyup="searchFunctionCategory()">
        </div>

        <div class="w3-margin-top" style="">
            <div id="datalistcategory" class="w3-container">

                @{
                    var lp1 = 0;
                }

                <ul id="categorylistdata" class="w3-ul  w3-hoverable " style="border-bottom: none;">

                    @foreach (var catData in treelist)
                    {
                        lp1 += 1;

                        <li class="categorylist w3-row simplisity_click" s-cmd="articleadmin_assigncategory" s-return=".articlepopup" s-post="#articledatasection" s-fields='{"articleid":"@(articleData.ArticleId)","categoryid":"@(catData.CategoryId)"}'>
                            <div class="w3-row" style="">
                                @{
                                    var prefix = "";
                                    for (int i = 0; i < catData.Level; i += 1)
                                    {
                                        prefix += "&nbsp;.";
                                    }
                                }
                                <div class="w3-col m12 ">
                                    <span class="">@HtmlOf(prefix)</span><b>@catData.Name</b>&nbsp;<span class="w3-tiny">@(ResourceKey("RC.ref").ToString()):&nbsp;@catData.Ref</span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(':checkbox').attr('class', 'w3-check');
        $("#categorylistdata").disableSelection();
    });

    function searchFunctionCategory() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("searchtextcategory");
        filter = input.value.toUpperCase();
        ul = document.getElementById("datalistcategory");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }


    function languageChange() {
        location.reload();
    }

</script>
